# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cmake/make
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
# **/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

# Documentation - compiled files
docs/doxygen
docs/build/*
!docs/build/html

## Local 

.idea/*.xml

build/**/*

include/*
lib/*
bin/*
test/test_runner
test/lib

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# IDE
.vscode

# macOS
.DS_Store
**/*.dSYM/

# Windows
Thumbs.db

# python virtual environment
.venv

# scratchpad
scratch/**/*